doctype html
html(lang="en")
  head
    title= title
<!--Required meta tags =====================-->
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
<!-- Bootstrap CSS =========================-->
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        a.navbar-brand(href='/') Scraping Reddit
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor01' aria-controls='navbarColor01' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarColor01
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/') 
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/scrape/create') Create Scrape
            li.nav-item
              a.nav-link(href='/scrapes') Scrape List
            li.nav-item
              a.nav-link(href='/wordcount/:id') Word Count

          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text' placeholder='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    .container
      block content

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")